Repository lundegaard/redux-tools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

.lintstagedrc:

{
	"**/*.js": [
		"prettier --ignore-path .gitignore --write",
		"yarn lint --fix"
	],
	"**/*.{mdx,md,html,json}": [
		"prettier --write"
	]
}

Remove `isGlobal: true` requirement (#152)
  .eslintrc.js
  .lintstagedrc
  CHANGELOG.md
  docs/_sidebar.md
  docs/getting-started/examples.md
  docs/getting-started/quick-start.md
  docs/packages/actions.md
  docs/packages/epics-react.md
  docs/packages/middleware-react.md
  docs/packages/namespaces-react.md
  docs/packages/reducers-react.md
  docs/tutorial/01-dependency-injection.md
  docs/tutorial/02-namespacing.md
  packages/actions/src/makeEmptyActionCreator.js
  packages/actions/src/makePayloadActionCreator.js
  packages/actions/src/makePayloadMetaActionCreator.js
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/NamespaceProvider.test.js
  packages/namespaces-react/src/contexts.js
  packages/namespaces-react/src/index.js
  packages/utils/src/withoutOnce.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

withNamespaceProvider improvements
  CHANGELOG.md
  docs/packages/namespaces-react.md
  docs/tutorial/03-multi-instance-components.md
  packages/namespaces-react/package.json
  packages/namespaces-react/src/withNamespaceProvider.js
  packages/namespaces-react/src/withNamespaceProvider.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

ignore subheading in multi instance tutorial
  docs/tutorial/03-multi-instance-components.md
Due: prettier --write

fix typo in changelog
  CHANGELOG.md
Due: prettier --write

`withNamespaceProvider` decorator (#153)
  CHANGELOG.md
  docs/packages/namespaces-react.md
  docs/tutorial/03-multi-instance-components.md
  packages/namespaces-react/package.json
  packages/namespaces-react/src/index.js
  packages/namespaces-react/src/withNamespaceProvider.js
  packages/namespaces-react/src/withNamespaceProvider.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

update namespacedConnect prop fallthrough fix
  CHANGELOG.md
  packages/namespaces-react/src/namespacedConnect.test.js
  packages/utils-react/package.json
  packages/utils-react/src/mapProps.js
  packages/utils-react/src/mapProps.test.js
  packages/utils-react/src/withProps.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

improve namespacedConnect tests
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces-react/src/namespacedConnect.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

rename namespacedConnectProps constant value
  packages/namespaces-react/src/namespacedConnect.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

add hoistNonReactStatics to util decorators
  packages/utils-react/src/mapProps.js
  packages/utils-react/src/withProps.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

improve namespacedConnect test
  packages/namespaces-react/src/namespacedConnect.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

Stop passing props down from `namespacedConnect` (#154)
  CHANGELOG.md
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces-react/src/namespacedConnect.test.js
  packages/utils-react/package.json
  packages/utils-react/src/index.js
  packages/utils-react/src/mapProps.js
  packages/utils-react/src/mapProps.test.js
  packages/utils-react/src/withProps.js
  packages/utils-react/src/withProps.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

revamp entries to support injecting complex structures
  CHANGELOG.md
  docs/_sidebar.md
  docs/faq/general.md
  docs/faq/internals.md
  docs/faq/lifecycle.png
  docs/packages/epics-react.md
  docs/packages/middleware-react.md
  docs/packages/reducers-react.md
  docs/tutorial/04-view-state-management.md
  packages/injectors-react/src/makeDecorator.js
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/injectors/src/__snapshots__/constants.test.js.snap
  packages/injectors/src/constants.js
  packages/injectors/src/constants.test.js
  packages/injectors/src/createEntries.js
  packages/injectors/src/createEntries.test.js
  packages/injectors/src/enhanceStore.js
  packages/injectors/src/enhanceStore.test.js
  packages/injectors/src/index.js
  packages/middleware/src/makeEnhancer.js
  packages/react/src/index.js
  packages/reducers/src/__snapshots__/constants.test.js.snap
  packages/reducers/src/combineReducerEntries.js
  packages/reducers/src/combineReducerEntries.test.js
  packages/reducers/src/combineReducerSchema.js
  packages/reducers/src/combineReducerSchema.test.js
  packages/reducers/src/constants.js
  packages/reducers/src/constants.test.js
  packages/reducers/src/index.js
  packages/reducers/src/makeEnhancer.js
  packages/reducers/src/makeEnhancer.test.js
  packages/stream-creators/src/streamCreators.js
  packages/utils/src/includesTimes.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

side effect libraries in docs
  docs/tutorial/01-dependency-injection.md
Due: prettier --write

update signatures in docs
  docs/packages/epics.md
  docs/packages/middleware.md
  docs/packages/reducers.md
Due: prettier --write

allow injecting global reducers as functions
  packages/reducers/src/makeEnhancer.js
  packages/reducers/src/makeEnhancer.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

add composeMiddleware
  CHANGELOG.md
  docs/packages/middleware.md
  packages/middleware/src/composeMiddleware.js
  packages/middleware/src/composeMiddleware.test.js
  packages/middleware/src/index.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

minor style updates in docs
  docs/packages/actions.md
  docs/packages/epics-react.md
  docs/packages/epics.md
  docs/packages/middleware-react.md
  docs/packages/middleware.md
  docs/packages/namespaces.md
  docs/packages/reducers-react.md
  docs/packages/stream-creators.md
  docs/packages/thunk.md
Due: prettier --write

revamp entries to support injecting complex structures (#155)
  CHANGELOG.md
  docs/_sidebar.md
  docs/faq/general.md
  docs/faq/internals.md
  docs/faq/lifecycle.png
  docs/packages/epics-react.md
  docs/packages/epics.md
  docs/packages/middleware-react.md
  docs/packages/middleware.md
  docs/packages/reducers-react.md
  docs/packages/reducers.md
  docs/tutorial/01-dependency-injection.md
  docs/tutorial/04-view-state-management.md
  packages/injectors-react/src/makeDecorator.js
  packages/injectors-react/src/makeHook.js
  packages/injectors-react/src/makeHook.test.js
  packages/injectors/src/__snapshots__/constants.test.js.snap
  packages/injectors/src/constants.js
  packages/injectors/src/constants.test.js
  packages/injectors/src/createEntries.js
  packages/injectors/src/createEntries.test.js
  packages/injectors/src/enhanceStore.js
  packages/injectors/src/enhanceStore.test.js
  packages/injectors/src/index.js
  packages/middleware/src/makeEnhancer.js
  packages/react/src/index.js
  packages/reducers/src/__snapshots__/constants.test.js.snap
  packages/reducers/src/combineReducerEntries.js
  packages/reducers/src/combineReducerEntries.test.js
  packages/reducers/src/combineReducerSchema.js
  packages/reducers/src/combineReducerSchema.test.js
  packages/reducers/src/constants.js
  packages/reducers/src/constants.test.js
  packages/reducers/src/index.js
  packages/reducers/src/makeEnhancer.js
  packages/reducers/src/makeEnhancer.test.js
  packages/stream-creators/src/streamCreators.js
  packages/utils/src/includesTimes.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

add composeMiddleware (#157)
  CHANGELOG.md
  docs/packages/middleware.md
  packages/middleware/src/composeMiddleware.js
  packages/middleware/src/composeMiddleware.test.js
  packages/middleware/src/index.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

minor style updates in docs (#158)
  docs/packages/actions.md
  docs/packages/epics-react.md
  docs/packages/epics.md
  docs/packages/middleware-react.md
  docs/packages/middleware.md
  docs/packages/namespaces.md
  docs/packages/reducers-react.md
  docs/packages/stream-creators.md
  docs/packages/thunk.md
Due: prettier --write

revamp namespace getters
  CHANGELOG.md
  docs/packages/namespaces.md
  packages/middleware/src/makeEnhancer.js
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces/src/getStateByAction.js
  packages/namespaces/src/getStateByAction.test.js
  packages/namespaces/src/getStateByFeatureAndAction.js
  packages/namespaces/src/getStateByFeatureAndAction.test.js
  packages/namespaces/src/getStateByFeatureAndNamespace.js
  packages/namespaces/src/getStateByFeatureAndNamespace.test.js
  packages/namespaces/src/getStateByNamespace.js
  packages/namespaces/src/getStateByNamespace.test.js
  packages/namespaces/src/index.js
  packages/react/src/index.js
  packages/stream-creators/src/streamCreators.js
  packages/stream-creators/src/streamCreators.test.js
  packages/thunk/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

improve namespace resolution mechanism
  CHANGELOG.md
  packages/injectors-react/src/makeHook.js
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces-react/src/useNamespace.js
  packages/namespaces-react/src/useNamespace.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

improve namespace resolution mechanism (#160)
  CHANGELOG.md
  packages/injectors-react/src/makeHook.js
  packages/namespaces-react/src/NamespaceProvider.js
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces-react/src/useNamespace.js
  packages/namespaces-react/src/useNamespace.test.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

improve feature fallbacks
  packages/middleware/src/makeEnhancer.js
  packages/thunk/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

revamp namespace getters (#159)
  CHANGELOG.md
  docs/packages/namespaces.md
  packages/middleware/src/makeEnhancer.js
  packages/namespaces-react/src/namespacedConnect.js
  packages/namespaces/src/getStateByAction.js
  packages/namespaces/src/getStateByAction.test.js
  packages/namespaces/src/getStateByFeatureAndAction.js
  packages/namespaces/src/getStateByFeatureAndAction.test.js
  packages/namespaces/src/getStateByFeatureAndNamespace.js
  packages/namespaces/src/getStateByFeatureAndNamespace.test.js
  packages/namespaces/src/getStateByNamespace.js
  packages/namespaces/src/getStateByNamespace.test.js
  packages/namespaces/src/index.js
  packages/react/src/index.js
  packages/stream-creators/src/streamCreators.js
  packages/stream-creators/src/streamCreators.test.js
  packages/thunk/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

update docs
  CHANGELOG.md
  docs/faq/general.md
  docs/packages/actions.md
  docs/packages/epics-react.md
  docs/packages/epics.md
  docs/packages/middleware-react.md
  docs/packages/middleware.md
  docs/packages/namespaces-react.md
  docs/packages/namespaces.md
  docs/packages/reducers-react.md
  docs/packages/reducers.md
  docs/packages/stream-creators.md
  docs/packages/thunk.md
  docs/tutorial/02-namespacing.md
  docs/tutorial/03-multi-instance-components.md
Due: prettier --write

add useNamespacedSelector and useNamespacedDispatch
  packages/namespaces-react/src/index.js
  packages/namespaces-react/src/useNamespacedDispatch.js
  packages/namespaces-react/src/useNamespacedDispatch.test.js
  packages/namespaces-react/src/useNamespacedSelector.js
  packages/namespaces-react/src/useNamespacedSelector.test.js
  packages/namespaces/src/mergeNamespace.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix

add namespaced hooks (#161)
  CHANGELOG.md
  docs/faq/general.md
  docs/packages/actions.md
  docs/packages/epics-react.md
  docs/packages/epics.md
  docs/packages/middleware-react.md
  docs/packages/middleware.md
  docs/packages/namespaces-react.md
  docs/packages/namespaces.md
  docs/packages/reducers-react.md
  docs/packages/reducers.md
  docs/packages/stream-creators.md
  docs/packages/thunk.md
  docs/tutorial/02-namespacing.md
  docs/tutorial/03-multi-instance-components.md
  packages/namespaces-react/src/index.js
  packages/namespaces-react/src/useNamespacedDispatch.js
  packages/namespaces-react/src/useNamespacedDispatch.test.js
  packages/namespaces-react/src/useNamespacedSelector.js
  packages/namespaces-react/src/useNamespacedSelector.test.js
  packages/namespaces/src/mergeNamespace.js
  packages/react/src/index.js
Due: prettier --ignore-path .gitignore --write, yarn lint --fix, prettier --write

update changelog
  CHANGELOG.md
Due: prettier --write

v0.9.0
  lerna.json
  packages/actions/package.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces-react/package.json
  packages/namespaces/package.json
  packages/react/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
Due: prettier --write

v0.9.1
  lerna.json
  packages/actions/package.json
  packages/epics-react/package.json
  packages/epics/package.json
  packages/injectors-react/package.json
  packages/injectors/package.json
  packages/middleware-react/package.json
  packages/middleware/package.json
  packages/namespaces-react/package.json
  packages/namespaces/package.json
  packages/react/package.json
  packages/reducers-react/package.json
  packages/reducers/package.json
  packages/stream-creators/package.json
  packages/thunk/package.json
  packages/utils-react/package.json
  packages/utils/package.json
Due: prettier --write

fix: package.json & .snyk to reduce vulnerabilities
  .snyk
  package.json
Due: prettier --write

fix: package.json to reduce vulnerabilities
  package.json
Due: prettier --write
